<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Resolver preference -->
    <preference for="Panth\Hreflang\Api\HreflangResolverInterface" type="Panth\Hreflang\Model\Hreflang\Resolver"/>

    <!-- Grid Collection: real PHP class extending SearchResult.
         mainTable + resourceModel bindings are required so the UI
         DataProvider can resolve the collection for the listing. -->
    <type name="Panth\Hreflang\Model\ResourceModel\HreflangGroup\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">panth_seo_hreflang_group</argument>
            <argument name="resourceModel" xsi:type="string">Panth\Hreflang\Model\ResourceModel\HreflangGroup</argument>
        </arguments>
    </type>

    <!-- Data Provider Configuration: register grid data source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="panth_hreflang_hreflang_listing_data_source" xsi:type="string">Panth\Hreflang\Model\ResourceModel\HreflangGroup\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <!--
        Form DataProvider: loads groups + their members so the admin form's
        dynamicRows members editor can populate.
    -->
    <type name="Panth\Hreflang\Ui\Component\Form\DataProvider\HreflangFormDataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">Panth\Hreflang\Model\ResourceModel\HreflangGroup\Collection</argument>
        </arguments>
    </type>

</config>
