<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!--
        Form data provider virtual type: uses GenericFormDataProvider so that
        form components receive data keyed by entity ID (avoids the
        searchResultToOutput / getCustomAttributes mismatch). Injected
        collection is the non-grid AbstractCollection.
    -->
    <virtualType name="Panth\Hreflang\Ui\Component\Form\DataProvider\HreflangFormDataProvider"
                 type="Panth\Hreflang\Ui\Component\Form\DataProvider\GenericFormDataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">Panth\Hreflang\Model\ResourceModel\HreflangGroup\Collection</argument>
        </arguments>
    </virtualType>

</config>
