<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Panth_Hreflang::hreflang"
             title="Hreflang"
             module="Panth_Hreflang"
             parent="Panth_Core::panth_extensions"
             sortOrder="55"
             action="panth_hreflang/hreflang/index"
             resource="Panth_Hreflang::hreflang"/>
    </menu>
</config>
